<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New Bid!</h1>
    <p>
      A dealer has added a new bid to your request!  Wana check it out?  Head over to view your <%= link_to @bid.request.name, request_url(id: @bid.request.id) %>.
      <br/>
    </p>
    <p>Thanks!  Please do not reply to this email!</p>
  </body>
</html>