%table.bordered
  %thead
    %tr
      %th Amount
      %th Date
      %th Other Notes
      %th Winning Bid?
      - if current_user.customer? and request.not_won?
        %th Select Winner
      - if current_user.dealer?
        %th Your Bid?
  %tbody
    - @bids.each do |bid|
      %tr
        %td
          = number_to_currency(bid.amount, unit: "$")
        %td
          = bid.updated_at
        %td
          = bid.other_offers
        %td
          = bid.won
        - if current_user.customer? and request.not_won?
          %td 
            - if current_user.profileable.first_name.blank? or current_user.profileable.last_name.blank? or current_user.profileable.phone_number.blank?
              -# %a.fancybox{href: edit_customer_path(id: current_user.profileable.id, request_id: request.id)} Select Winner
              = link_to "Select Winner", edit_customer_path(id: current_user.profileable.id, request_id: request.id)
            - else
              = link_to "Select Winner", winner_bid_path(bid), data: { confirm: 'Are you sure?  If you say yes your contact information will be sent to the dealer!' }
        - if current_user.dealer? and current_user.profileable.id == bid.dealer_id 
          %td
            Yes
        - elsif current_user.dealer?
          %td
            No