= form_for(@bid, :html => {:class => 'form-horizontal'}) do |f|
  .control-group
    - if @bid.errors.any? 
      .error_explanation
        %h2
          = pluralize(@bid.errors.count, "error")
          prohibited this request from being saved:</h2>
        %ul
          - @bid.errors.full_messages.each do |msg| 
            %li
              = msg
    %h1 Request Information
    = render '/requests/show', request: @request
    .field
      = f.label "Bid Amount", class: 'control-label'
      = f.text_field :amount
    .field
      = f.label "Other Offers to Customer", class: 'control-label'
      = f.text_area :other_offers

    = f.hidden_field :request_id, :value => @request.id
    .controls
      .actions
        %br
        = f.submit

