.winning
  %h1
    Congratulations! You have selected your winning bid.  
  %p
    Your information has been sent to the dealer who made the winning bid.  Expect to hear back from them within 24 hours!
