= form_for(@customer, :html => {:class => 'form-horizontal'})  do |f|
  .control-group
    - if @customer.errors.any? 
      .error_explanation
        %h2
          = pluralize(@customer.errors.count, "error")
          prohibited this request from being saved:</h2>
        %ul
          - @customer.errors.full_messages.each do |msg| 
            %li
              = msg
    %h1 Before Proceeding..
    %p Please update your information!  Once you select a bid your name, phone, and email will be sent to the dealer who's offer you've accepted.  They will then contact you within 24 hours.
    .field
      = f.label "First Name: ", class: 'control-label' 
      = f.text_field :first_name
    .field
      = f.label "Last Name: ", class: 'control-label'
      = f.text_field :last_name
    .field
      = f.label "Phone Number: ", class: 'control-label'
      = f.text_field :phone_number
    = hidden_field_tag :request_id, @request.id
    .controls
      .actions
      = f.submit "Update Your Info!" 

