= form_for(@request, :html => {:class => 'form-horizontal'}) do |f|
  .control-group
    - if @request.errors.any?
      .error_explanation
        %h2
          = pluralize(@request.errors.count, "error")
          prohibited this request from being saved:
        %ul
          = @request.errors.full_messages.each do |msg|
            %li
              = msg
    .fields
      = f.label :make_id, 'Make: ', class: 'control-label' 
      = collection_select :request, :make_id, @makes, :id, :name, :input_html => {:rel => "/makes/models_by_make"}
    .fields
      = f.label :model_id, 'Model: ', class: 'control-label' 
      = collection_select :request, :model_id, [], :id, :name
    .fields
      = f.label :year, 'Year: ', class: 'control-label'
      = collection_select :request, :year, [], :year, :year
    .fields
      = f.label :style_id, 'Style: ', class: 'control-label'
      = collection_select :request, :style_id, [], :id, :name
    .fields
      = f.label :option_ids, 'Options: ', class: 'control-label'
      = f.collection_select :option_ids, Option.order(:name), :id, :name, {}, {multiple: true}
    .fields
      = f.label :notes, 'Notes: ', class: 'control-label'
      = f.text_area :notes, class: 'text_area_big'
    .controls
      .actions
        = f.submit