%h1.car_name
  = @request.name
.sub_header_text
  = request.style.name
= image_tag(request.photo, alt: request.name, size: "200x200", class: "car_photo")
.info_block
  %span.emphasized
    Options:
  = request.get_options
.info_block.clear
  %span.emphasized
    Notes:
  = request.notes
