.page_container
  %h1 Your Requests
  = will_paginate @requests
  %ul
    - @requests.each do |request|
      %li
        .request_car_display_box
          .car_photo
            = link_to image_tag(request.photo, :alt => request.name, :size => "200x200"),  request_path(request)
          .request_info
            %span.header
              = link_to request.name, request_path(request)
              = '(' + request.bids.count.to_s  + ')'
            - if request.has_new_bids 
              %span.label
                New Bids
            .info_block
              %span.emphasized
                Status:
              = request.status
            .info_block
              %span.emphasized
                Options:
              = request.get_options
            .info_block
              %span.emphasized
                Notes:
              = request.notes
          .relative_container
            .request_delete
              = link_to 'Delete Request', request, method: :delete, data: { confirm: 'Are you sure?' }
      .clear