%h1 Available Requests
= will_paginate @requests
%table.bordered
  %thead
    %th Created
    %th Make
    %th Model
    %th Year
    %th Status
    %th Did I bid?
    %th # of Bids
    %th Notes    
  %tbody
    - @requests.each do |request|
      %tr
        %td 
          = link_to request.created_at.strftime("%m/%d/%Y"), request_path(request)
        %td 
          = link_to request.make.name, request_path(request)
        %td 
          = link_to request.model.name, request_path(request)
        %td 
          = link_to request.year, request_path(request)
        %td 
          = link_to request.status, request_path(request)
        %td 
          = link_to request.did_i_bid_on_it?(current_user), request_path(request)
        %td 
          = link_to request.bids.count, request_path(request)
        %td 
          = link_to request.notes, request_path(request)
