<div class="page_container">         
  <h1>Your Available Requests</h1>
  <table>
    <tr>
      <th>User</th>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Notes</th>
      <th></th>
    </tr>

  <% @requests.each do |request| %>
    <div class="a_row">
    </div>
      <td><%= request.customer_id %></td>
      <td><%= request.make.name %></td>
      <td><%= request.model.name %></td>
      <td><%= request.year %></td>
      <td><%= request.notes %></td>
      <td><%= link_to 'Show', request %></td>
    </tr>
  <% end %>
  </table>

  <br />

</div>