.page_container.subpage_specific_container
= render 'show', request: @request
%h2
  Bid listing : all dealers
- if @bids.blank?
  %p
    You have not bid yet! 
    %br
    - if current_user.dealer? and @request.not_won?
      = link_to "Bid on this Request", new_request_bid_path(request_id:@request.id ,dealer_id:current_user.profileable.id), class: "button button-primary button-large"
- else
  %p
    = render '/bids/bids_for_request', request: @request
    %br
    - if current_user.dealer? and @request.not_won?
      = link_to "Bid Again on this Request", new_request_bid_path(request_id:@request.id ,dealer_id:current_user.profileable.id), class: "button button-primary button-large"
