<br />
<h1>About Us</h1>
<p>Carmedius was founded in 2013 when three Madison entrepreneurs realized how time-consuming and hassling the traditional car buying process is.  During late 2012, co-founder Austin knew exactly what car he wanted, yet spent hours searching various classified and dealer websites to find it.  He then suffered through countless emails and phone calls from persistent salesmen until he worked out a fair price.</p><p>
Heads were put together and cheese curds and beer were consumed at a local brew pub until a solution arose.  That solution was Carmedius.  A one stop, no hassle shortcut to finding the exact car you want at a price you know is fair.  Over the ensuing months, a platform was created to act as an interface between a buyer and multiple sellers.  This interface requires but one simple input from the buyer; a sort of “set it and forget it” solution.  
</p><p>
The team consists of co-founders Adam, Austin, and Justin.  
</p><p>
Adam is the programming whiz and the creator of everything behind the scenes that makes Carmedius run.  His knack for careful research and planning provided the structure needed to get this startup company off the ground.  
</p><p>
Austin is the idea guy.  His visions created the platform you see and the features it includes.  His ongoing role in business development will help take Carmedius from a local Madison startup to a national solution for frustrated car buyers.  
</p><p>
Justin brings industry knowledge and a passion for marketing to the team.  Having worked in the automotive industry, his insights helped fine tune Carmedius and make it appealing to both dealers and consumers.  