<div class="page_container">         
  <div class="home_hero_unit home-row">
    <h1>Painless Car Location & Negotiations</h1>
    <p>Harness the power of Carmedius to locate your dream car, and get it at a dream price!</p>
    <p><a class="button btn-danger button-large">Super important &raquo;</a></p>
  </div><!-- .hero-unit -->     
 <div class="a_row">
    <div class="home_content_block">
      <h2>UVP #1</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="button btn-danger" href="#">Click meeee &raquo;</a></p>
    </div><!-- .span4 -->
    <div class="home_content_block">
      <h2>UVP #2</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="button btn-danger" href="#">Click meeee &raquo;</a></p>
    </div><!-- .span4 -->
    <div class="home_content_block">
      <h2>UVP #3</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="button btn-danger" href="#">Click meeee &raquo;</a></p>
    </div><!-- .span4 -->
  </div><!-- .row -->
</div><!-- .container -->
