<br />
<h1>How It Works</h1>
<p>The average time spent finding a car through Carmedius is less than 15 minutes.  Compare that to the 13.5 hours the average consumer spends searching classified websites and negotiating with multiple dealers.  Which would you prefer?
</p>
<ol>
<li><h3>Register for a Carmedius account.</h3>  We only ask for your name, phone number, and email address.  Don’t worry, no dealer will see this information (other than your first name) until you specifically choose to share it with them.  
</li>
<li><h3>Select your vehicle and search radius.</h3>  Choose the year, make, model, and trim.  We’ll provide you a list of the most common options, and leave a comment section in case you have any special requests.  Decide how far you’ll go for a good deal and move on to step 3.  
</li>
<li><h3>Submit your request.</h3>  Push a button.  Just push it.  It’s the big one at the bottom.  
</li>
<li><h3>Relax.</h3>  You’re done for now.  Take that 13 hours you would have spent late at night searching dozens of car listing sites and start up a new hobby.  Ever tried basket weaving?  Me neither, but you’ll have that kind of time now.  
</li>
<li><h3>Log in to see live updates on dealer bids.</h3>  Your listing will run for two days, or less if you choose.  During that time, dealers will submit their price bids and your Carmedius dashboard will update live to show you the deals being offered.  You’ll get an email letting you know when a bid is submitted so you can stay on top of things.  
</li>
<li><h3>Choose a winner.</h3>  Select the deal you like best, and that dealer will receive your contact information.  Within 24 hours, they’ll contact you to schedule a time to pick up your new car!
</li>
</ol>
<p>At this point, you’ve probably been giggling slightly as you watched the price creep lower and lower.  You can leave the showroom in your new car knowing that you got the lowest price any dealer around would offer.  You can even show them that new basket you made.  Oh and that tingly feeling?  That’s called satisfaction, and it’s causing that smile on your face.  </p>
