@import "globals/all";

.sub_header_text {
  font-size: 1.3em;
}

.request_car_display_box {
  overflow: hidden;
  padding-bottom: 5px;
}

.car_name {
  line-height: .5em;
}

.request_delete {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
}

.request_info {
  float: left;
  padding: .5em;
}

.info_block {
  margin: .5em;
}

textarea {
  width: 500px;
  height: 150px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  background-position: bottom right;
  background-repeat: no-repeat;
}

.fields {
  margin: .8em;
}