@import "globals/all";

/* -------------------- */
/* colors */
/* -------------------- */

$red: #B72F19;
$light-red: #BE311A;
$lightest-red: #EBCAC5;
$dark-red: #9E2815;

$gray: #A4A6A9;
$light-gray: #EEEEEE;
$dark-gray: #808285;
$darkest-gray: #57585A;

$off-white: #EFEFF1;

/* -------------------- */
/* general styles */
/* -------------------- */

html, body {
  height: 100%;
}

body { 
  background-color: $light-gray;
  background-image: -webkit-gradient(linear, left top, left bottom, from($dark-gray), to($light-gray));
  background-image: -webkit-linear-gradient(top, $dark-gray, $light-gray);
  background-image: -moz-linear-gradient(top, $dark-gray, $light-gray);
  background-image: -ms-linear-gradient(top, $dark-gray, $light-gray);
  background-image: -o-linear-gradient(top, $dark-gray, $light-gray);
  background-image: linear-gradient(top, $dark-gray, $light-gray);
  background-attachment:fixed;
}

a {
  color: $dark-gray;
  &:hover {
    color: $darkest-gray;
    text-decoration: none;
  }
}

.button {
  @extend .btn;
}

.button-primary {
  @extend .button;
  @extend .btn-primary;
}

.button-large {
  @extend .button;
  @extend .btn-large;
}

.navbar-inner {
  background-image: none;
  background-color: $darkest-gray;
  border: 0;
}

.navbar {
  .nav {
    float: right;
    li {
      a {
        color: $off-white;
        text-shadow: none;
        padding: 20px 15px 0;
        &:hover {
          color: white;
          text-shadow: none;
        }
      }
    }
  }
} 

.header {
  font-size: 2em;
  font-weight: bold;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header-logo img {
  width: 20%;
  float: left;
  padding: 2px 0 10px 0;
}

#main {
  height: 100%;
}

.container {
  height: 100%;
}

.content {
  background: $off-white;
  height: 100%;
  margin-top: 60px;
  .a_row, .row {
    margin-left: 0px;
  }
}

.home_content_block {
  width: 30%;
}

.span12 {
  width: 940px;
}

.home-row {
  background: url('/assets/masthead_car2.jpg') top right no-repeat;
  margin-right: 30px;
}

.row {
  background-color: $off-white;
}

.red_label {
  color: $red;
  @extend .label;
}

.emphasized {
  font-size: 1.1em;
  font-weight: bold;
}

li {
  list-style-type: none;
  list-style: none inside none;
  margin: 0;
  padding: 5px;
}

.no_header_body { 
  padding-top: 0px; 
}

.highlight {
  background: #fbf8e9;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;     
} 

.alert {
  margin-left: -20px;
  margin-right: 20px;
}

.alert {
  &.alert-info {
    margin-left: -30px;
    margin-right: 30px;
    padding: 25px 35px 8px 14px;
  }
}

footer {
  clear: both;
  background-color: $darkest-gray;
  text-align: center;
  padding: 1em;
  color: $off-white;
  .footer {
    display: block;
    margin: 0 0 0 0;
    list-style: none;
    li {
      list-style-type: none;
      color: $off-white;
      display: inline-block;
      text-transform: uppercase;
      a {
        color: $off-white;
      }
    }
  }
}

/* ------------------------------ */
/* photo styling */
/* ------------------------------ */

.car_photo {
  float: left;
  padding: 10px 5px 5px 0px;
  z-index: -1;
}

/* ------------------------------ */
/* table styling */
/* ------------------------------ */

table {
  *border-collapse: collapse; /* IE7 and lower */
  border-spacing: 0; 
  width: 95%;
  border: 1px solid #ccc;
}

thead {
  verticle-align: middle;
  border-color: inherit;
  display: table-header-group;
}

th:first-child {
  -moz-border-radius: 6px 0 0 0;
  -webkit-border-radius: 6px 0 0 0;
  border-radius: 6px 0 0 0;
}

th:last-child {
  -moz-border-radius: 0 6px 0 0;
  -webkit-border-radius: 0 6px 0 0;
  border-radius: 0 6px 0 0;
}

th:only-child {
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}

.bordered tr:hover {
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;     
} 

.bordered tr:nth-child(even) {
  background-color: #E8E8E8;
}

.bordered td, .bordered th {
  padding: 10px;
  text-align: left;    
  border: 1px solid white;
}

.bordered th {
  background-color: $lightest-red;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
  -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
  box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
  border-top: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

/* ------------------------------ */
/* subpages */
/* ------------------------------ */

.subpage_specific_container {
  margin-top: 20px;
}

.request_delete {
  right: 70px;
}

.request_info {
  padding: .5em 1em;
  width: 75%;
}

.winning {
  background: url('/assets/winning-bid.jpg') top right no-repeat;
  width: 80%;
  height: 500px;
  h1, p {
    margin: 2em;
    width: 60%;
  }
}
