@import "globals/all";

.relative_container {
    position: relative;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

.top_centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -100px;
}