<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New Bid Request!</h1>
    <p>
      Navigate on over to your <%= link_to "full requests list", requests_url %> to bid on this opportunity.  Or go directly there by clicking below!
      <br/>
    </p>
    <h3><%= link_to @request.name, request_url(id: @request.id) %> </h3>
    <p>
    </p>
    <p>Thanks!  Please do not reply to this email!</p>
  </body>
</html>