<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You Won a Bid Request!</h1>
    <p>
      <h3><%= link_to @request.name, request_url(id: @request.id) %> </h3>
    </p>
    <h1>Your Bid</h1>
    <p>Amount: <%= number_to_currency(@bid.amount, unit: "$")  %></p>
    <p>Other Offers: <%= @bid.other_offers %></p>
    <p></p>
    <h1>Customer Contact</h1>
    <p>Name: <%= @customer.full_name %></p>
    <p>Email: <%= @customer.email %> </p>
    <p>Phone: <%= @customer.phone_number %> </p>
    <p>Please contact this customer as soon as possible</p>
    <p>Thanks!  Please do not reply to this email!</p>
  </body>
</html>