<ul class="footer">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "How It Works", page_path('howitworks') %></li>
  <li><%= link_to "About", page_path('about') %></li>
  <% if user_signed_in? %>
    <% if current_user.customer? %>
      <li><%= link_to "New Request", new_request_path %></li>
    <% end %>
    <li>   
    <%= link_to('Edit account', edit_user_registration_path) %>
    </li>
    <li>
    <%= link_to('Logout' , destroy_user_session_path, :method=>'delete') %>
    </li>
  <% else %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>
    </li>
    <li>
    <%= link_to('Sign up', new_user_registration_path)  %>
    </li>
  <% end %>
</ul>
<br />
Copyright &copy;  Carmedius.com