<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Carmedius" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag params[:controller] if Carbay::Application.assets.find_asset("#{params[:controller]}") %>
    <%= javascript_include_tag "#{params[:controller]}_#{params[:action]}"  if Carbay::Application.assets.find_asset("#{params[:controller]}_#{params[:action]}") %>

    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class = 'no_header_body'>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= render partial: "shared/flash_messages", flash: flash %> 
              <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
